*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  }
  
  html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  }

body{
    font-family: calibri;
  }
  
  .h1{
   font-size: 34px;
    color: aqua;
    margin-left: 100px;
    margin-top: -73;
  }
  .h2{
   font-size: 22;
  color: aquamarine;
  margin-left: 100px;
  margin-top: -32;
  
  
  }
  
  #logo{
  width: 95;
  
  }
  
  #movement{
  background-color: rgb(127, 255, 212);
  border: 20px;
  border-color: black;
  margin-top: -7px;
  font-size: 20px;
  padding: 0;
  border-width: 2;
  border-style: dashed;
  }
  #head{
  background-color: rgb(117, 167, 68);
  margin-left: -10px;
  margin-right: -7;
  }
  
  #l2{
    padding: 0;
  }
  .nev{
  margin-top: -59;
  
  }
  
  nav{
  text-align: right;
  font-size: 19;
  }
  
  nav a {
    text-decoration: none;
    padding-left: 11px;
    background-color: rgb(111, 204, 17);
    border-radius: 20px;
    padding-right: 11px;
    
  }
  .Achievements{
  color: red;
  }
  
  nav a:active,:hover{
   color: red;
  }
  #check{
    display: none;
  }
  
  #checkbtn{
    float: right;
    padding-left:11 ;
    font-size: 30px;
    text-align: right;
    display: none;
  }
  
  #check:checked ~ a{
    display: block;
    left: 80%;
    padding-left: -10%;
    padding-right: 145px;
    text-align: center;

}

@media(max-width: 980px){
  #checkbtn{
    display: block;
  }
  nav a {
    list-style: none;
     width: 120px;
     height: 70px;
     background-color: rgb(149, 227, 93);
     border-radius: 0%;
     position: relative;
     top: 40px;
     left: 200%;
  }
  nav a {
    display: none;
  }
}
    
  #Achievements{
    text-align: center;
    font-size: 100px;
    padding: 0px;
    cursor: default;
  }

  .Achievement_1{
    width: 320px;
    height: 550px;
    padding: 0px;
    margin: 0px;
  }

  @media(max-width: 950px){
    .Achievement_1{
    width: 500px;
    height: auto;
    }
  }

  @media(max-width: 600px){
    #Achievements{
      display: block;
      font-size: 80px;
      margin-top: 80px;
    }
  }

    @media(max-width: 500px){
      #Achievements{
        display: block;
        font-size: 60px;
        margin-top: 80px;
      }
    }

      @media(max-width: 365px){
        #Achievements{
          display: block;
          font-size: 50px;
          margin-top: 80px;
        }
      }